// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;
$gray-nav: #2c2e34;
$gray-drop: #434340;
$main-orange: #e95c1b;
$light-gray: #f6f6f6;
$polygon-fill: #212529;
$copy-gray: #9e9d9d;
$group-span: #5c6170;

$primary = $main-orange;


// Media
$screen-1199: 1199px;
$screen-1440: 1440px;
$screen-991: 991px;
$screen-768: 768px;
$screen-450: 450px;
